<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smsalertandbackupmyphonedi"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
      
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
     <uses-permission android:name="android.permission.WRITE_CONTACTS" />
     
     <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    
   
     <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    
  
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
   
   
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
   
  
     
  
   
   
    
    <application
        android:icon="@drawable/applogo"
        android:label="@string/app_name" >
        <activity
            android:name="com.smsalertandbackupmyphonedi.CheckPasswordActivity"
            android:label="@string/app_name"
             android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"  
            android:theme="@style/PreferencesTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
  
            	 <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
      
        <receiver
            android:name="com.smsalertandbackupmyphonedi.receiver.SMSReceiver"
            
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                 <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.smsalertandbackupmyphonedi.receiver.SIMChangeReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.smsalertandbackupmyphonedi.receiver.OutgoingCallReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
<service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" />
      <!--   <receiver
            android:name="com.smsalertandbackupmyphonepaid.receiver.NetworkConnectionReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver> -->
        
    <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name="AddContactActivity"></activity>
    <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name="SmsAlertMainActivity"></activity>
    <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name="SettingActivity"></activity>
    <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name="AddKeywordsActivity"></activity>
    <activity android:name=".UserSettingActivity" />
    <activity android:name="com.database.DatabaseNameActivity" android:theme="@android:style/Theme.Dialog"></activity>
    <activity android:name="com.database.PhoneDataBackupActivity" android:theme="@android:style/Theme.Dialog"></activity>
    <activity android:name="com.database.SelectDataBackupActivity"></activity>
    <activity android:name="com.database.PhoneDataRestoreActivity" android:theme="@android:style/Theme.Dialog"></activity>
    <activity android:name="com.database.SelectDatabaseFromSdcardActivity"></activity>
    <activity android:name="com.database.SelectTableFromDatabaseActivity"></activity>
     <activity android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity" android:configChanges="orientation|screenSize|keyboard|keyboardHidden"></activity>
   
    <service android:name="BackupService"></service>
    <activity android:name="HelpActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
   
       
    </application>

</manifest>